<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/w3.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>DE{%block title%} {%endblock%}</title>
</head>
<body>
    <div class="bg"></div>
    <div class="main-wrapper">

       <!-- --------------------- sidePannel-------------------- -->
        <div class="sidePannel">
            <div class="logo">
                Digital Entomologist
            </div>

            <div class="button-container">
                <ul>
                  {% block navBtns %}

                  {%endblock%}
                </ul>
            </div>
        </div>
        <!-- --------------sidePannel end -------------------------------------- -->


        <!-- --------------Main container --------------------------------- -->
        <div class="main">
            <div class="main-header">
                <span class="headerForDesktop"><p>{%block pageHeading%}{%endblock%}</p></span>
                <span class="headerForMobile"><p>DigitalEntomologist</p></span>
                <button onclick="log()" type="submit">LogOut</button>
                {%block headerBtns%}{%endblock%}
                  <script>
                    function log(){
                      window.location.assign('/logOut');
                    }
                  </script>
            </div>


            <!-- -----Content Box of the data ----------------------------- -->
            <div class="content-container">
                {% block content %} {%endblock%}
            </div>
            <!-- ------Content box end --------------------------------------- -->
        </div>
        <!-- --------------Main container end --------------------------------- -->
    </div>

    <!-- Ending here -->
    <!-- Extra utility elements -->
    <div id="addJobBtnHolder" style="display: none;">
        <button id="addJobBtn"class="w3-btn w3-green w3-right w3-margin-top" onclick="addJobHandler(this)">Add Job</button>
    </div>
</body> 
<script src="{{url_for('static',filename='js/main.js')}}"></script>
</html>
