{%extends 'base.html'%}

{%block pageHeading%}Dashboard{%endblock%}

{%block navBtns%}
<li class="active"><a href="#"><img class="icon" ><P>Dashboard</P></a></li>
{%endblock%}

{%block content%}

{%if key%}
<div class="w3-panel" style="padding: 0px;">
    <button type="button" class="w3-btn w3-blue" onclick="unhideForm('deviceRegistrationForm')">Register a new device +</button>
    <button type="button" class="w3-btn w3-orange" onclick="unhideForm('file-querying-div')">View / Download Files </button>
</div>

<!-- Device registration form -->
<div class="w3-panel w3-leftbar w3-border-blue" style="display: none;" id="deviceRegistrationForm">
    <form action="/registerDevice" method="post">
        <div class="w3-row-padding">
            <div class="w3-third">
                <label for="serialID">Serial ID</label>
            <input class="w3-input w3-border" type="text" placeholder="Serial ID" name="serialID" required>
            </div>
            <div class="w3-third">
                <label for="password">Security key</label>
            <input class="w3-input w3-border" type="password" placeholder="Password" name="password" required>
            </div>
            <div class="w3-third" style="padding-top: 24px;">
                <button type="submit" class="w3-btn w3-green">Register</button>
                <button type="button" class="w3-btn w3-red" onclick="hideForm('deviceRegistrationForm')">Cancel</button>
            </div>
        </div>
    </form>
</div>

<!-- View / Download file divison  -->
<div class="w3-panel w3-leftbar w3-border-orange" style="display: none;" id="file-querying-div">
    <form action="/getFiles" method="post" >
        <div class="w3-row-padding">
            <div class="w3-quarter">
                <label for="File-Type">File-Type</label>
                <select class="w3-input w3-border" name="File-Type" value="video">Video
                    <option value="video">Video</option>
                    <option value="weather">Weather</option>
                </select>
            </div>
            <div class="w3-quarter">
                <label for="serialID-query">Serial ID</label>
            <input id="inp-serialID" class="w3-input w3-border" type="text" placeholder="Serial ID" name="serialID-query" required>
            </div>
            <div class="w3-quarter">
                <label for="date">Date</label>
            <input id="inp-date" class="w3-input w3-border" type="date" placeholder="Password" name="date" required>
            </div>
            <div class="w3-quarter" style="padding-top: 24px;">
                <button type="submit" class="w3-btn w3-green" >Get Files</button>
                <button type="button" class="w3-btn w3-red" onclick="hideForm('file-querying-div')">Cancel</button>
            </div>
        </div>
    </form>
</div>


<div id="table-container">
    <table class="w3-table w3-centered w3-border w3-striped">
        <thead>
            <tr class="w3-green">
                <th>Sr no.</th>
                <th>Serial ID</th>
                <th>Device Provisoned</th>
                <th>Device Booted</th>
                <th>Configure</th>
            </tr>
        </thead>
        <tbody>
            {%if data%}
                {%for item in data%}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{item.serialID}}</td>
                <td>{{item.deviceProvisoned}}</td>
                <td>{{item.deviceBooted}}</td>
                <td><button data-devicebooted="{{item.deviceBooted}}" value="{{item.serialID}}" class="w3-button" onclick="openConfigModel(this)"><i class="fa fa-cog w3-large"></i></button></td>
            </tr>
                {%endfor%}
            {%else%}
            <tr>
                <td colspan="3"> Currently you have No device Registered</td>
             </tr>
            {%endif%}
        </tbody>
    </table>
</div>
      
<div id="modalForConfig" class="w3-modal" style="padding: 50px 100px; display:none;">
    <div class="w3-card w3-light-grey w3-animate-bottom" style="height: 100%; width:100%;">
        <span onclick="closeConfigModel()" class="w3-button w3-xlarge w3-red w3-display-topright" title="Close Modal" style="z-index: 1;">&times;</span>
        <!-- Header for Modal -->
        <div class="w3-teal" style="position: absolute; width:100%;">
          <div id="modalHeader" class="w3-center w3-panel w3-large" style="margin:13px 0px;"> You are sending job to device</div>
        </div>

        <!-- Job creator panel -->
        <div class="w3-twothird" style="height: 100%; padding:60px 10px 60px 0;">
            <!-- Side Panel for btns -->
            <div id="btnContainerForModal" class="w3-quarter w3-padding-24 w3-bar-block" style="margin-right:5px;background: linear-gradient(0deg, rgba(149,201,63,1) 0%, rgba(71,173,145,1) 100%);height:100%;max-width:200px;padding-left:5px;">
                <button data-btnBindedToCard="configCardsForDevice" value="device" id="modalSidePanelDeviceBtn" class="w3-bar-item w3-large activeBtnInModal" onclick="modalSidePanelBtnHandler(this)" >Device</button>
                <button data-btnBindedToCard="configCardsForCloud"  value="cloud" class="w3-bar-item w3-large w3-transparent w3-text-white" onclick="modalSidePanelBtnHandler(this)">Cloud</button>
                <button data-btnBindedToCard="configCardsForCamera" value="camera" class="w3-bar-item w3-large w3-transparent w3-text-white" onclick="modalSidePanelBtnHandler(this)">Camera</button>
                <button data-btnBindedToCard="configCardsForGetLogs" value="getLogs" class="w3-bar-item w3-large w3-transparent w3-text-white" onclick="modalSidePanelBtnHandler(this)">Get Logs</button>
                <button data-btnBindedToCard="configCardsForGetData" value="getData" class="w3-bar-item w3-large w3-transparent w3-text-white" onclick="modalSidePanelBtnHandler(this)">Get Data</button>
            </div>

            <!-- Container for job creation config cards -->
            <div class="w3-card w3-rest w3-padding w3-white" style="height: 100%;border-radius:10px;overflow-y:auto;">
                <!-- Internal cards for device -->
                <div id="configCardsForDevice" class="w3-animate-left w3-visible">
                    <div data-timeZone="True" class="w3-card w3-panel w3-padding-16 w3-round" onclick="configCardClickHandler(this)">
                        <label for="time_zone">Set Time Zone</label>
                        <select id="time_zone">
                            <option value="Europe/Berlin">(GMT+01:00) Europe/Berlin</option>
                            <option value="Asia/Kolkata">(GMT+05:30) India/Kolkata</option>
                        </select><br>
                        <span class="w3-small">*Add this to job card to set the timezone of the device</span>
                    </div>
                    <div class="w3-card w3-panel w3-padding-16 w3-round" onclick="configCardClickHandler(this)">
                        <label for="Device-Up-Time" class="w3-large w3-text-teal">Device On Time</label>
                        <input class="w3-input w3-border" name="Device-On-Time" type="time" >
                        <span class="w3-small">*Takes the numeric value in hours(1hr-22hr) for which device is going to remain on and camera will work.</span>
                    </div>
                    <div class="w3-card w3-panel w3-padding-16 w3-round" onclick="configCardClickHandler(this)">
                        <label for="Device-On-Time" class="w3-large w3-text-teal">Device Off Time</label>
                        <input class="w3-input w3-border" name="Device-Off-Time" type="time">
                        <span class="w3-small">*Takes only 24hr format time, ranging from 1-24</span>
                    </div>
                    <div class="w3-card w3-panel w3-padding-16 w3-round" onclick="configCardClickHandler(this)">
                        <label for="Device-Upload-Time" class="w3-large w3-text-teal">Device Test Duration</label>
                        <input class="w3-input w3-border" name="Device-Test-Flag" type="number"  > 
                        <span class="w3-small">*Takes value in min only ranging from 1-60 min</span>
                    </div>
                </div>
                <!-- Internal cards for cloud -->
                <div id="configCardsForCloud" class="w3-animate-left w3-hide">
                    <div class="w3-card w3-panel w3-padding-16 w3-round" onclick="configCardClickHandler(this)">
                        <label for="cloud1" class="w3-large w3-text-teal">Cloud 1</label>
                        <input class="w3-input w3-border" name="cloud1" type="text">
                    </div>
                    <div class="w3-card w3-panel w3-padding-16 w3-round" onclick="configCardClickHandler(this)">
                        <label for="cloud2" class="w3-large w3-text-teal">Cloud 2</label>
                        <input class="w3-input w3-border" name="cloud2" type="text">
                    </div>
                    <div class="w3-card w3-panel w3-padding-16 w3-round" onclick="configCardClickHandler(this)">
                        <label for="cloud3" class="w3-large w3-text-teal">Cloud 3</label>
                        <input class="w3-input w3-border" name="cloud3" type="text">
                    </div>
                </div>
                <!-- Internal cards for camera -->
                <div id="configCardsForCamera" class="w3-animate-left w3-hide" >
                    <div class="w3-card w3-panel w3-padding-16 w3-round" onclick="configCardClickHandler(this)">
                        <label for="camera1" class="w3-large w3-text-teal">Camera 1</label>
                        <input class="w3-input w3-border" name="camera1" type="text">
                    </div> 
                    <div class="w3-card w3-panel w3-padding-16 w3-round" onclick="configCardClickHandler(this)">
                        <label for="camera2" class="w3-large w3-text-teal">Camera 2</label>
                        <input class="w3-input w3-border" name="camera2" type="text">
                    </div>
                </div>
                <!-- Internal cards for getLogs -->
                <div id="configCardsForGetLogs" class="w3-animate-left w3-hide" >
                    <div class="w3-card w3-panel w3-padding-16 w3-round" onclick="configCardClickHandler(this)">
                        <label for="Get-All-Logs" class="w3-large w3-text-teal">Get All Logs</label><br>
                        <input class="w3-input w3-border" name="Get-All-Logs" type="hidden" value="True" >
                        <span class="w3-small">*Add this to Job Board to get all the logs.</span>
                    </div> 
                </div>
                <!-- Internal cards for getData -->
                <div id="configCardsForGetData" class="w3-animate-left w3-hide" >
                    This for Get data
                </div>

            </div>

          
        </div>

        <!-- All Jobs Card displayer -->
        <div  class="w3-third" style="height: 100%; padding:60px 5px;">
          <div id="jobCardsDisplayer" class="w3-display-container" style="padding:5px;background-color:#e2e1e0;box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 4px 0px inset; width:100%; height:100%;">
            <div class="w3-container w3-center">
              <span class="w3-xlarge">Job Board</span>
            </div>

            <button class="w3-btn w3-green w3-display-bottomright" style="margin-bottom: 5px;margin-right:5px;" onclick="sendHandler()">SEND</button>
          </div>
        </div>

        <!-- Footer/Button pannel for modal  -->
        <div class="w3-teal" style="position: absolute; width:100%; bottom:0;">
          <div id="modalFooter" class="w3-center w3-panel w3-bold"> Digital Entomologist</div>
        </div>
        <div id="msgDisplayerRecievedFromJob" class="w3-modal" style="width:100%;height:100%;display: none;">
            <div id="spinner" class="w3-display-middle" >
                <p><i class="fa fa-spinner w3-spin" style="font-size:64px"></i></p>
            </div>
        </div>
    </div>
</div>

{%else%}
<div class="w3-panel" style="padding: 0px;">
   <a href="/"><button type="button" class="w3-btn w3-green"><i class="fa fa-arrow-left"></i> Back</button></a>
</div>
<div id="table-container">
    <table class="w3-table w3-border w3-striped">
        <thead>
            <tr class="w3-green">
                <th class="w3-quarter">Sr no.</th>
                <th class="w3-threequarter">Files</th>
            </tr>
        </thead>
        <tbody>
            {%if data%}
                {%for item in data%}
            <tr>
                <td class="w3-quarter">{{loop.index}}</td>
                <td class="w3-threequarter"><a href="{{item}}">{{item | replace('https://test-entomologist-2.s3.amazonaws.com/','')}}</a></td>
            </tr>
                {%endfor%}
            {%else%}
            <tr>
                <td colspan="2"> No files have been found for this date</td>
             </tr>
            {%endif%}
        </tbody>
    </table>
</div>
{%endif%}

{%endblock%}

